<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>

    <link rel="stylesheet" href="../static/base.css">
</head>
<body>

    <ul class="navbar">
        <li class="blocco">
            <a class="link active" href="#">Home</a>
        </li>
        <li class="blocco">
            <a class="link" href="#">Nuovo</a>
        </li>
    </ul>



    <h1>Data</h1>
    <h2>Classe</h2>
    <div class="task"> 
        <div class="box-base">
            Titolo super grossa ma se dovessi scrivere molto?
        </div>
        <div class="descrizione">
            Super descrizione senza fine neanche in un epoca divesta
        </div>
        <div class="tasti">
            <a href="#" class="pulsante-fatto">Fatto</a>
            <a href="#" class="pulsante-elimina">Modifica</a>
        </div>
        

    </div>
</body>
</html>